<nav>    
    <% if (user) { %>  
      <a href="/threads/new" <%- title === 'Create New Thread' ? 'class="active"' : '' %>>Create New Thread Post</a>
      <a href="/logout">LOG OUT</a>
    <% } else { %>
      <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    <% } %>
</nav>
  