<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap" rel="stylesheet">
  </head>
  <body>

  <nav> 
    <ul>   
      <li><a href="/">Home</a></li>
      <div class="divider"/>
      <li><a href="/threads">View All Threads</a></li>
      <div class="divider"/>
      <li><a href="/threads/new">Post New Thread</a></li>
      <div class="divider"/>
    
    <% if (user) { %>  
      <li><a href="/logout">LOG OUT</a></li>
    <% } else { %>
      <li><a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a></li>
    <% } %>
  </ul>
  </nav>

    <h1><%= title %></h1>
    <h2>Welcome to your gas guzzling safehaven! </h2>
    <h3><img src="https://media.tenor.com/VT26ZxxFqUwAAAAC/burnout-cars.gif"</h3>
  </body>
</html>

<%- include('./partials/footer') %>