<%- include('./partials/header') %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap" rel="stylesheet">
  </head>
  <body>

    <h2>Welcome to your gas guzzling safehaven! </h2>
    <h3><img src="https://media.tenor.com/sD7wcEy2vvYAAAAd/forza-motorsport7-pontiac-firebird-trans-am.gif"</h3>
    <h5>Feel free to view any thread! However, to post a thread or comment, kindly login!</h5>
  </body>
</html>

<%- include('./partials/footer') %>