body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #031c34;

}
a {
  color: #00B7FF;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}
.login img {
  height: 25px;
}
/* nav {
  background-color: #022939f9;
  text-align: center;
 
} */
#mainMenu {
  margin: 10px;
  width: 1200px;
}
#mainMenu li {
  display: block;
  width: 220px;
  float: left; 
  margin-left: 2px;   
}
#mainMenu li a {
  display: block;
  padding: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
}
#mainMenu a:hover {
  background-color: #111111;
  
}
h1 {
  color: white;
  text-align: center;
  font-size: 45px;
  font-family: 'Orbitron', sans-serif;
}
h2 {
  color: white;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 35px;
}
h3 {
  text-align: center;
  margin-top: 100px;
}
h5 {
  text-align: center;
}
h6 {
  color: rgb(255, 0, 0);
  margin-top: 350px;
}
label {
  color: white;
  text-align: center;
}
td {
  color: white;
  text-align: center;
  max-width: 800px;
  
}
th {
  color: white;
  font-weight: bolder;
  font-size: 18px;
  
}
#new-form *, #add-comment-form * {
  font-size: 20px;
}
#add-comment-form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  width: 500px;
}
#add-comment-form input[type="submit"] {
  width: 1rem;
 
  margin-bottom: 2rem;
  
}

#show-page {
  color: rgb(206, 224, 240);
  text-align: left;
  font-size: 18px;
  padding: 10px;
}
#post-title {
  font-size: 30px;
}
#post-content {
  font-size: 30px;
}
#nl_comment_button {
  margin-left: 540px;
  margin-top: 90px;
  position: absolute;
}