

<h2>Enter New Thread Post</h2>
<form action="/threads" method="POST">
  <label>Title:
    <input type="text" name="title">
  </label><br>
  <label>Content:
    <input type="text" name="content">
  </label><br>
  <button type="submit">Create Post</button>
</form>

<%- include('../partials/footer') %>