<%- include('../partials/header') %>

<h2>The Great Hall of Cars</h2>

<ul id="cars-img">
    <!-- <li><iframe width="560" height="315" src="https://www.youtube.com/watch?v=2B-ymDZP_1c" frameborder="0" allowfullscreen></iframe> -->
    <li><img src="https://i.imgur.com/EdiWs3J.jpg">1932 Ford 3-Window</li>
    <li><img src="https://i.imgur.com/QOtvpj4.jpg">1957 Chevrolet 150</li>
    <li><img src="https://i.imgur.com/u2v5MlI.jpg">1964 Pontiac GTO</li>
    <li><img src="https://i.imgur.com/k7DGrkb.jpg">1965 Shelby Cobra Backdraft</li>
    <li><img src="https://i.imgur.com/zLRJ59P.jpg">1965 Pontiac GTO</li>
    <li><img src="https://i.imgur.com/habwcJr.jpg">1966 Chevrolet Corvette</li>
    <li><img src="https://i.imgur.com/jWXMkah.jpg">1967 Chevrolet Camaro</li>
    <li><img src="https://i.imgur.com/PuTvGGy.jpg">1967 Ford Mustang Eleanor</li>
    <li><img src="https://i.imgur.com/vxDUkhg.jpg">1968 Dodge Charger RT</li>
    <li><img src="https://i.imgur.com/U0iCF6T.jpg">1968 Dodge Coronet</li>
    <li><img src="https://i.imgur.com/gkCFeNu.jpg">1969 Chevrolet Camaro SS</li>
    <li><img src="https://i.imgur.com/hcY0nZZ.jpg">1969 Chevrolet Corvette</li>
    <li><img src="https://i.imgur.com/zF1cY44.jpg">1970 Plymouth GTX</li>
    <li><img src="https://i.imgur.com/HZncUYS.jpg">1970 Chevrolet Chevelle</li>
    <li><img src="https://i.imgur.com/jM0vGQf.jpg">1970 Dodge Coronet Super Bee</li>
    <li><img src="https://i.imgur.com/omiHFmF.jpg">1970 Pontiac Firebird</li>
    <li><img src="https://i.imgur.com/S7OaV5M.jpg">1971 Plymouth Barracuda</li>
    <li><img src="https://i.imgur.com/8eOTejT.jpg">1972 Buick GSX</li>
    <li><img src="https://i.imgur.com/LwFQ7ge.jpg">1972 Oldsmobile Cutlass</li>
    <li><img src="https://i.imgur.com/jWGvY98.jpg">1972 Chevrolet Camaro</li>
    <li><img src="https://i.imgur.com/nnKc6IB.jpg">1978 Pontiac Trans Am</li>
</ul>
<br><br><br>
<form action="/halls">
    <button class="submit-button">Back to Top</button>
</form>






<%- include('../partials/footer') %>